footer {
  position: absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  min-height: 20px;

  background-color: #b1afb6;
  border-top: 1px solid #9A96A6;
  font-size: 0.8rem;
  padding: 0.2rem;
}
/*
.spacer {
  flex: 1 1 auto;
}*/

mat-sidenav-container, mat-sidenav-content, mat-sidenav {
  height: 100%;
}

mat-sidenav {
  width: 250px;
}

a {
  text-decoration: none;
  color: white;
}

a:hover,
a:active {
  color: lightgray;
}
.spacer {
  flex-grow: 1;
}

.navigation-items {
  cursor: pointer;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.icon {
  display: inline-block;
  height: 30px;
  margin: 0 auto;
  padding-right: 10px;
  text-align: center;
  vertical-align: middle;
  width: 15%;
}

.label {
  display: inline-block;
  line-height: 30px;
  margin: 0;
  width: 85%;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}


